// ProjectCard.scss
$primary-color: #2196f3;
$hover-color: #1565c0;

h1{
  text-align: center;
}
.project-card {
  width: 300px;
  margin: 20px;
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(#175bff, 0.3);
    opacity: 0.8;
    scale: 0.98;
  }

  .project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .MuiCardContent-root {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .MuiTypography-root {
    margin-bottom: 10px;
  }

  .MuiButton-root {
    background-color: $primary-color;
    color: white;

    &:hover {
      background-color: $hover-color;
    }
  }
  .github-icon {
    margin-top: 10px;
    font-size: 24px;
    color: $primary-color;

    &:hover {
      color: $hover-color;
    }
  }
}
