.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexCenterCol {
	@extend .flexCenter;
	flex-direction: column;
}
.flexSpaceBetween {
	display: flex;
	justify-content: space-between;
}

.spaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main {
	@extend .flexCenterCol;
	width: 100%;
	height: 770px;
	padding: 16rem 2rem 1rem;
	position: relative;

	.container {
		@extend .flexCenter;
		width: 100%;
		height: 100%;
		padding-top: 8rem;
		overflow: hidden;
		border-radius: 28px;
		position: relative;
		max-width: 1440px;

		.textContainer {
			@extend .flexCenterCol;
			gap: 1rem;
			width: 100%;
			padding: 1rem 1rem 2rem;
			z-index: 3;

			h2 {
				margin-left: 4%;
				width: 100%;
				font-weight: 700;
				font-size: 2.625em;
				line-height: 1.1;
				text-align: center;
			}

			.desc {
				margin-left: 10%;
				@extend .spaceBetween;
				ol {
					margin-left: 15%;
				}
				h3 {
					font-size: 1.5em;
					color: #cfd2dc;
					margin-bottom: 2%;
				}
				li {
					font-weight: 400;
					font-size: 1.25rem;
					line-height: 1.5;
					color: #cfd2dc;
					max-width: 480px;
					list-style: disc;
					text-align: left;
				}
			}
		}
		.ellipseContainer {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			border-radius: inherit;

			.ellipseTop {
				position: absolute;
				width: 160%;
				height: 260%;
				left: -45%;
				bottom: 2%;
				opacity: 0.5;
				background: radial-gradient(
					50% 50% at 50% 50%,
					#4ba7b4 0%,
					rgba(5, 11, 25, 0) 100%
				);
			}

			.ellipseBottom {
				position: absolute;
				width: 160%;
				height: 260%;
				right: -40%;
				top: 0;
				opacity: 0.5;
				background: radial-gradient(
					50% 50% at 50% 50%,
					#4ba7b4 0%,
					rgba(5, 11, 25, 0) 100%
				);
			}
		}
	}

	.frame {
		position: absolute;
		top: 15%;
		width: 334.44px;
		height: 246px;
		overflow: hidden;
		z-index: 1;
		margin-left: 1%;
		video {
			position: absolute;
			height: 92%;
			width: 92.5%;
			top: 9px;
			left: 13.5px;
			object-fit: cover;
			z-index: -1;
			rotate: -0.5deg;
			border-top-right-radius: 25px;
		}
	}
}

@media (max-width: 768px) {
	.main {
		margin: 2rem 0;
		padding: 0;
		height: unset;
		.container {
			padding-left: 1rem;
			padding-right: 1rem;
			border-radius: 0;
			gap: 3rem;
			.textContainer {
				margin-top: 12rem;
				.desc {
					flex-direction: column;
					margin-left: 0;
					h3 {
						margin-bottom: 0.3em;
					}
				}
			}
		}

		.frame {
			top: 10%;
		}
	}
}

@media (max-width: 468px) {
	.main {
		// margin-top: 5rem;

		.textContainer {
			margin-top: 0;
			padding: 0;

			h2 {
				font-size: 2rem;
			}

			.desc {
				p,
				li {
					font-size: 1rem;
				}
			}
		}
		.frame {
			top: 5%;
			width: 70%;
			height: auto;
			margin: 0 auto;
		}
	}
}
