
.container {
  display: block;
  font-weight: 400;
}

.fontWeight1 {
  font-weight: 600;
}

.fontWeight2 {
  font-weight: 300;
}

.extraSmall {
  font-size: 12px;
  line-height: 145%;
}

.small {
  font-size: 14px;
  line-height: 150%;
}

.medium {
  font-size: 16px;
  line-height: 155%;
}

.large {
  font-size: 18px;
  line-height: 160%;
}
