
.container {
  display: block;
}

.light {
  color: #ffffff;
}

.dark {
  color: black;
}


.grey2 {
  color: #7e8acb;
}

.h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 110%;
}

.h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
}

.h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
}

.h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.h5 {
  font-weight: 600;
  font-size: 21px;
  line-height: 145%;
}

.h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
